# usage:
#
#    Set path to config file
#    config_file=$git_path"/photo_organize/set_earliest_date.config"
#
#    To set every date to the oldest date:
#    exiftool -config "$config_file" -filename                  -OldestDateTime FILEorDIR
#    exiftool -config "$config_file" -filename "-DateTimeOrignal<OldestDateTime" $dates FILEorDIR
#
#    To only set DateTimeOriginal to the oldest date:
#    exiftool -config "$config_file" -filename "-DateTimeOrignal<OldestDateTime" FILEorDIR
#
#    To only return the oldest date
#    exiftool -config $config_file -OldestDateTime -b ${files[0]}


#https://exiftool.org/forum/index.php?topic=9686.0

%Image::ExifTool::UserDefined = (
    'Image::ExifTool::Composite' => {
        OldestDateTime => {
            Desire => {
                0 => 'FileModifyDate',
                1 => 'MDItemFSContentChangeDate',
                2 => 'FileCreateDate',
                3 => 'MDItemFSCreationDate',
                4 => 'ModifyDate',
                5 => 'CreateDate',
                6 => 'DateTimeCreated',
                7 => 'DateTimeOriginal',
                8 => 'GPSDateTime',
                9 => 'GPSDateStamp',
            },
            ValueConv => q{
		# my ($earliest) = (sort {$a cmp $b} grep $_, @val)[0];   # returns "yyyy:mm:dd"
		# my ($earliest) = (sort {$a cmp $b} grep $_, @val)[1];     # returns "yyyy:mm:dd hh:mm:ss"
		# return $earliest;
                my $oldest = undef;
                for my $date (@val) {
                    $date =~ s/[+-]\d{2}:\d{2}$//; # Strip TimeZone
                    if ($date && (!$oldest || $date lt $oldest)) {
                        $oldest = $date;
                    }
                }
		return $oldest;
	    },
        },
    },
);